/* =============================================================================
  Work tpl
============================================================================= */
.resume {
  background-image: url(/imgs/bg-pattern-grey-100.jpg);
  @include flexbox(row);
  @include flex;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    @include flexbox(column);
  }
}

.resume__content {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: $BUFFER $BUFFER $BUFFER * 2;
  @include flex;
}