// Styles
$BUFFER: 25px;
$FONT_STACK: 400 17px/2em 'Source Sans Pro', Arial, sans-serif;
$MAX_WIDTH: 850px;
$MOBILE_FONT_SIZE: 16px;

// Breakpoints
$MOBILE_BREAKPOINT: 640px;
$TABLET_BREAKPOINT: 768px;
$LG_DESKTOP_BREAKPOINT: 1400px;

// Nav and mobile masthead
$DESKTOP-NAV-WIDTH: 200px;
$DESKTOP-NAV-HEIGHT: 100%;
$LG-DESKTOP-NAV-WIDTH: 300px;
$MOBILE-MASTHEAD-HEIGHT: $BUFFER * 2;