/* =============================================================================
  Hover states for no-touch devices
============================================================================= */
.no-touch {
  a:hover {
    border-color: $ACCENT;
  }

  .intro__blurb a:hover {
    border-color: $BLACK_T87;
  }

  .intro__link:hover {
    padding-left: $BUFFER;
  }

  .nav__item:hover {
    border-left-color: transparent;
    border-right-color: $ACCENT;

    @media only screen and (max-width: $TABLET_BREAKPOINT) {
      border-left-color: $ACCENT;
      border-right-color: transparent;
    }
  }

  .launch:hover {
    .launch__icon {
      fill: $ACCENT;
    }
  }

  .video__play-btn:hover {
    .video__play-icon {
      opacity: 1;
    }
  }
}