/* =============================================================================
  Work tpl
============================================================================= */
.launch {
  border: none;
  margin-left: 4px;
}

.launch__icon {
  bottom: 2px;
  fill: $PRIMARY;
  position: relative;
  @include transition(fill .3s ease-out);

  svg {
    vertical-align: middle;
  }
}

.video {
  padding-bottom: 60.75%;
  position: relative;
}

.video__iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}