/* =============================================================================
  Mobile Masthead
============================================================================= */
.mobile-masthead {
  display: none;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: block;
  }
}

.mobile-masthead-offset {
  height: $MOBILE-MASTHEAD-HEIGHT;
}

.mobile-masthead__content {
  background: $WHITE_T87;
  height: $MOBILE-MASTHEAD-HEIGHT;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  @include flexbox(row);
  @include flexbox-items(space-between, center);
}

.mobile-masthead__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;

  a {
    border-bottom: none;
    display: inline-block;
    padding: 0 $BUFFER;
  }
}

.mobile-masthead__menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: $MOBILE-MASTHEAD-HEIGHT;
  padding: 0 $BUFFER;
  @include remove-appearance;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: block;
  }
}

.mobile-masthead__menu-icon {
  fill: $PRIMARY;

  svg {
    vertical-align: middle;
  }
}