<div class="nav-offset"></div>
<div class="nav__content">
  <h1 class="nav__logo">
    <a class="nav__logo-link" href="#/intro" aria-label="Link to intro">
      <span class="nav__logo-aria-label"></span>
      <img class="nav__logo-mark" src="/imgs/logo.svg" alt="Logo">
    </a>
  </h1>
  <div class="nav__menu-header">
     <button
        class="nav__close-button"
        ng-click="nav.toggleMobileNav()"
        aria-label="Hide nav">
      <ng-md-icon class="nav__close-icon" icon="close" size="25"></ng-md-icon> 
    </button>
  </div>
  <div class="nav__menu">
    <a
        ng-repeat="item in nav.items"
        class="nav__item"
        ng-class="{'nav__item--active': nav.isActive('{{item.route}}')}"
        ng-click="nav.resetMobileNav()"
        href="{{item.route}}">
      {{item.label}}
    </a>
  </div>
</div>