/* =============================================================================
  Nav
============================================================================= */
.nav {
  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    background: rgba(235, 235, 235,.8);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
    @include multi-transition(visibility .25s ease-out, opacity .25s ease-out);
  }

  &--visible {
    opacity: 1;
    visibility: visible;
    @include multi-transition(visibility .5s ease-out, opacity .5s ease-out);
  }
}

.nav-offset {
  height: 100%;
  max-width: $DESKTOP-NAV-WIDTH;
  min-width: $DESKTOP-NAV-WIDTH;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: none;
  }
}

.nav__content {
  background: $WHITE_T87;
  height: $DESKTOP-NAV-HEIGHT;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: $BUFFER * 2;
  position: fixed;
  top: 0;
  width: $DESKTOP-NAV-WIDTH;
  z-index: 1000;
  @include flexbox(column);

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    background: $WHITE;
    position: absolute;
    right: 0;
    width: 100%;
    left: auto;
    max-width: 500px;
    @include box-shadow(-1px 0 10px #BFBFBF);
  }
}

.nav__title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0;
  position: relative;

  a {
    border-bottom: none;
    display: inline-block;
    padding: .5em $BUFFER;
  }

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: none;
  }
}

.nav__menu-header {
  display: none;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    border-bottom: 1px solid $DIVIDER;
    display: block;
    max-height: $MOBILE-MASTHEAD-HEIGHT;
    min-height: $MOBILE-MASTHEAD-HEIGHT;
    position: relative;
  }
}

.nav__close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: $MOBILE-MASTHEAD-HEIGHT;
  padding: 0 $BUFFER;
  position: absolute;
  right: 0;
  top: 0;
  @include remove-appearance;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: block;
  }
}

.nav__close-icon {
  fill: $PRIMARY;

  svg {
    vertical-align: middle;
  }
}

.nav__item {
  border-bottom: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  display: block;
  font-size: 14px;
  line-height: $MOBILE-MASTHEAD-HEIGHT;
  padding: 0 $BUFFER;
  width: 100%;
  @include transition(border .3s ease-out);

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    font-size: 1.5rem;
    line-height: $BUFFER * 3;
  }
}

.nav__item--active {
  background: $DIVIDER;
  border-left-color: transparent;
  border-right-color: $ACCENT;
  color: $ACCENT;
  pointer-events: none;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    background: $DIVIDER;
    border-left-color: $ACCENT;
    border-right-color: transparent;
    padding-left: $BUFFER;
  }
}