/* =============================================================================
  Hover states for no-touch devices
============================================================================= */
.no-touch {
  a:hover {
    border-color: $color-accent;
  }

  .intro__blurb a:hover {
    border-color: $color-black-87;
  }

  .intro__link:hover {
    padding-left: $buffer;
  }

  .nav__item:hover {
    border-left-color: transparent;
    border-right-color: $color-accent;

    @media only screen and (max-width: $breakpoint-tablet) {
      border-left-color: $color-accent;
      border-right-color: transparent;
    }
  }

  .launch__link:hover {
    .launch__icon {
      fill: $color-accent;
    }
  }

  .video__info-btn:hover {
    @extend .launch__link:hover;
  }

  .video__close-info-btn:hover {
    @extend .launch__link:hover;

    small {
      color: $color-accent;
    }
  }

  .video__play-btn:hover {
    .video__play-icon {
      opacity: 1;
    }
  }
}