/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  background: $PRIMARY;
  @include flexbox(column);
  @include flexbox-items(center, center);
  @include flex;
}

.intro__content {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: $BUFFER * 2 $BUFFER;
  width: 100%;

  @media only screen and (max-height: $MOBILE_BREAKPOINT) {
    @include flexbox(column-reverse);
  }
}

.intro__blurb {
  color: $WHITE_T87;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 0;

  span {
    white-space: nowrap;
  }

  a {
    border-bottom: 3px solid $ACCENT;
    padding-bottom: 2px;
  }

  @media only screen and (max-height: $MOBILE_BREAKPOINT) {
    margin-bottom: 0;
    margin-top: 1em;
  }
}

.intro__nav {
  margin: 0;
  padding: 0;
}

.intro__nav-item {
  border-bottom: 1px solid $BLACK_T87;
  min-height: 0;
  position: relative;

  &:first-child {
    border-top: 1px solid $BLACK_T87;
  }

  &:before {
    display: none;
  }
}

.intro__link {
  border-bottom: none;
  color: $ACCENT;
  display: block;
  line-height: $BUFFER * 2;
  padding-left: $BUFFER / 2;
  @include transition(all .5s ease-out);
}