/* =============================================================================
  Page
============================================================================= */
.page {
  background-image: url(/imgs/bg-pattern-grey-100.jpg);
  @include flexbox(row);
  @include flex;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    @include flexbox(column);
  }
}

.page__content {
  padding-bottom: $BUFFER;
  @include flex;
}

.page__body {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: $BUFFER;
}

.page__title {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0;
}

.page__sub-title {
  @extend .page__title;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 8px;
  position: relative;

  &:after {
    border-bottom: 3px solid $ACCENT;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: $BUFFER;
  }
}