/* =============================================================================
  Work tpl
============================================================================= */
.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: $WHITE_T87;
  z-index: 10000;
  @include flexbox(column);
  @include flexbox-items(center, center);
  @include transition(opacity .25s ease-out);

  &.ng-hide-add,
  &.ng-hide-remove {
    @include transition(opacity .5s ease-out);
  }

  &.ng-hide {
    opacity: 0;
  }
}

.video-modal__wrapper {
  padding-bottom: 48.5%;
  position: relative;
  width: 80%;
}

#video-modal__player {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}