/* =============================================================================
  Global
============================================================================= */
* {
  @include box-sizing;
}

body,
html {
  background: $BACKGROUND;
  color: $PRIMARY;
  font: $FONT_STACK;
  height: 100%;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media only screen and (max-width: $MOBILE_BREAKPOINT) {
    font-size: $MOBILE_FONT_SIZE;
  }
}

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  @include transition(border-color .3s ease-out);
}

h1 {
  color: $BLACK_T87;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  margin: .5em 0;
}

h2 {
  color: $PRIMARY;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25em;
  margin: .5em 0;
  padding-bottom: 8px;
  position: relative;

  &:after {
    border-bottom: 3px solid;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: $BUFFER;
  }
}

h3 {
  @extend h2;
  font-size: 1.25rem;
  font-weight: 600;
}

main[ng-view] {
  min-height: 100%;
  @include flexbox(column);
}