/* =============================================================================
  Nav
============================================================================= */
.nav {
  background: $PRIMARY;
  padding: $BUFFER;
  width: 250px;

  @media only screen and (max-width: $MOBILE_BREAKPOINT) {
    width: 100%;
  }
}