/* =============================================================================
  Nav
============================================================================= */
$DESKTOP-NAV-WIDTH: 200px;
$DESKTOP-NAV-HEIGHT: 100%;
$MOBILE-NAV-WIDTH: 100%;
$MOBILE-NAV-HEIGHT: $BUFFER * 2;

.nav-offset {
  height: 100%;
  max-width: $DESKTOP-NAV-WIDTH;
  min-width: $DESKTOP-NAV-WIDTH;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    height: $MOBILE-NAV-HEIGHT;
    max-height: $MOBILE-NAV-HEIGHT;
    max-width: none;
    width: $MOBILE-NAV-WIDTH;
  }
}

.nav {
  background: $WHITE_T87;
  height: $DESKTOP-NAV-HEIGHT;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: $BUFFER 0 $BUFFER * 2;
  position: fixed;
  top: 0;
  width: $DESKTOP-NAV-WIDTH;
  z-index: 1000;
  @include flexbox(column);

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    height: $MOBILE-NAV-HEIGHT;
    overflow: visible;
    padding: 0;
    width: $MOBILE-NAV-WIDTH;
    @include flexbox(row);
  }
}

.nav__title {
  padding: 0 $BUFFER;

  a {
    border-bottom: none;
  }

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    font-size: 1.5em;

    br {
      display: none;
    }
  }
}

.nav__menu-button {
  background: $ACCENT;
  border: none;
  cursor: pointer;
  display: none;
  height: $MOBILE-NAV-HEIGHT;
  padding: 0 $BUFFER;
  position: absolute;
  right: 0;
  top: 0;
  @include remove-appearance;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: block;
  }
}

.nav__close-button {
  @extend .nav__menu-button;
}

.nav__close {
  border-bottom: 1px solid $DIVIDER;
  display: none;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    display: block;
  }
}

.nav__menu-icon {
  svg {
    vertical-align: middle;
  }
}

.nav__close-icon {
  @extend .nav__menu-icon;
}

.nav__menu {
  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    background: $WHITE;
    height: 100%;
    overflow-x: none;
    overflow-y: auto;
    padding-top: $MOBILE-NAV-HEIGHT;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    @include transition(all .3s ease-out);
    @include translate(100%, 0);
  }
}

.nav__menu--expanded {
  pointer-events: initial;
  @include box-shadow(-1px 4px 3px 1px rgba(0, 0, 0, .1));
  @include translate(0, 0);
}

.nav__item {
  border-bottom: none;
  display: block;
  line-height: $MOBILE-NAV-HEIGHT;
  padding: 0 $BUFFER;
  width: 100%;
  @include transition(padding-left .5s ease-out);

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    @include transition(background-color .5s ease-out);
  }
}

.nav__item--active {
  background: $ACCENT;
  pointer-events: none;

  @media only screen and (max-width: $TABLET_BREAKPOINT) {
    padding-left: $BUFFER;
  }
}