/* =============================================================================
  Global
============================================================================= */
* {
  @include box-sizing;
}

body,
html {
  background: $GREY_100;
  font: $FONT_STACK;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  @include transition;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  margin: .5em 0;
}

h2 {
  @extend h1;
  font-size: 1.75rem;
}

h3 {
  @extend h1;
  font-size: 1.25rem;
  font-weight: 600;
}

h4 {
  @extend h1;
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0;
}

ng-view {
  min-height: 100%;
}

ng-md-icon svg {
  vertical-align: middle
}

.main-content {
  background-image: url(/imgs/bg-pattern-grey-100.jpg);
  padding: $BUFFER $BUFFER $BUFFER * 2
}

md-content {
  background: none;
  margin: 0 auto;
  max-width: $MAX_WIDTH;
}