/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  background: $PRIMARY;
  color: $ACCENT;
}

.intro__main-content {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: $BUFFER;
}