/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  background-image: url(/imgs/bg-pattern-green-A100.jpg);
}

.intro__content {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: $BUFFER * 2 $BUFFER;
  width: 100%;
}

.intro__blurb {
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 0;

  a {
    border-bottom: 3px solid $WHITE;
    @include transition(border-color .3s ease-out);

    &:hover {
      border-color: $DEFAULT_FONT_COLOR;
    }
  }
}

.intro__list {
  padding: 0;
}

.intro__list-item {
  border-bottom: 1px solid $WHITE;
  text-align: left;

  &:first-child {
    border-top: 1px solid $WHITE;
  }
}

.intro__button {
  background: $WHITE_25;
  border-radius: 0;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 5px 0;
  padding: 0;
  padding-left: $BUFFER / 2;
  text-align: left;
  text-transform: none;
  width: 100%;
  @include transition(padding-left .5s ease-out);

  &:hover {
    background: none !important;
    padding-left: $BUFFER;
  }

  .md-ripple-container {
    border-radius: 0;
  }
}

/* =============================================================================
  Media query - mobile
============================================================================= */
@media only screen and (max-width: 480px) {
  .intro__blurb {
    font-size: 1.25rem;
    margin-bottom: 2em;
  }
}