/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  // background-image: url(/imgs/bg-pattern-green-A100.jpg);
  background: $PRIMARY;
}

.intro__content {
  margin: 0 auto;
  max-width: $MAX_WIDTH;
  padding: $BUFFER * 2 $BUFFER;
  width: 100%;
}

.intro__blurb {
  color: $WHITE_T87;
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 0;

  span {
    white-space: nowrap;
  }

  a {
    border-bottom: 3px solid $ACCENT;
    @include transition(border-color .3s ease-out);

    &:hover {
      border-color: $FONT_COLOR;
    }
  }
}

.intro__list {
  padding: 0;
}

.intro__list-item {
  min-height: 0;
  position: relative;

  &:after {
    background: $FONT_COLOR;
    bottom: 0;
    content: '';
    height: 1px;
    left: 3%;
    min-height: 0;
    position: absolute;
    visibility: visible;
    width: 20%;
  }

  &:first-child:before {
    @extend .intro__list-item:after;
    bottom: auto;
    left: 1%;
    top: 0;
    width: 40%;
  }

  &:nth-child(2):after {
    left: 0%;
    width: 30%;
  }

  &:nth-child(3):after {
    left: 2%;
    width: 15%;
  }
}

.intro__button {
  background: none !important;
  border-radius: 0;
  color: $ACCENT;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 2px 0;
  padding: 0;
  padding-left: $BUFFER / 2;
  text-align: left;
  width: 40%;
  @include transition(all .5s ease-out);

  &:hover {
    padding-left: $BUFFER;
  }

  .md-ripple-container {
    border-radius: 0;
  }
}