/* =============================================================================
  Toolbar
============================================================================= */
.toolbar {
  min-height: 75px;
  padding: 0 $BUFFER;
  @include box-shadow;
}

.toolbar__title {
  margin: 0;
}