/* =============================================================================
  Global
============================================================================= */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  background: #F5F5F5;
  font: 400 17px/1.7em "Source Sans Pro", Arial, sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

h1, h2, h3, h4 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  margin: .5em 0; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.25rem;
  font-weight: 600; }

h4 {
  font-size: 1rem;
  font-weight: 600;
  margin: 1rem 0; }

ng-view {
  min-height: 100%; }

ng-md-icon svg {
  vertical-align: middle; }

md-content {
  background: none;
  margin: 0 auto;
  max-width: 850px;
  padding: 25px 25px 50px; }

.main__content {
  background-image: url(/imgs/bg-pattern-grey-100.jpg); }

/* =============================================================================
  Media query - mobile
============================================================================= */
@media only screen and (max-width: 640px) {
  body,
  html {
    font-size: 13px; } }
/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  background: #37474F; }

.intro__content {
  margin: 0 auto;
  max-width: 850px;
  padding: 50px 25px;
  width: 100%; }

.intro__blurb {
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 0; }
  .intro__blurb span {
    white-space: nowrap; }
  .intro__blurb a {
    border-bottom: 3px solid #FFFF00;
    -moz-transition: border-color 0.3s ease-out;
    -ms-transition: border-color 0.3s ease-out;
    -o-transition: border-color 0.3s ease-out;
    -webkit-transition: border-color 0.3s ease-out;
    transition: border-color 0.3s ease-out; }
    .intro__blurb a:hover {
      border-color: rgba(0, 0, 0, 0.87); }

.intro__list {
  padding: 0; }

.intro__list-item {
  min-height: 0;
  position: relative; }
  .intro__list-item:after, .intro__list-item:first-child:before {
    background: rgba(0, 0, 0, 0.87);
    bottom: 0;
    content: '';
    height: 1px;
    left: 3%;
    min-height: 0;
    position: absolute;
    visibility: visible;
    width: 20%; }
  .intro__list-item:first-child:before {
    bottom: auto;
    left: 1%;
    top: 0;
    width: 40%; }
  .intro__list-item:nth-child(2):after, .intro__list-item:nth-child(2):first-child:before {
    left: 0%;
    width: 30%; }
  .intro__list-item:nth-child(3):after, .intro__list-item:nth-child(3):first-child:before {
    left: 2%;
    width: 15%; }

.intro__button {
  background: none !important;
  border-radius: 0;
  color: #FFFF00;
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 2px 0;
  padding: 0;
  padding-left: 12.5px;
  text-align: left;
  width: 40%;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .intro__button:hover {
    padding-left: 25px; }
  .intro__button .md-ripple-container {
    border-radius: 0; }

/* =============================================================================
  Toolbar
============================================================================= */
.toolbar {
  min-height: 75px;
  padding: 0 25px;
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15); }

.toolbar__title {
  margin: 0; }

/*# sourceMappingURL=main.css.map */
