/* =============================================================================
  Global
============================================================================= */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  background: #F5F5F5;
  color: #3E2723;
  font: 400 17px/2em "Source Sans Pro", Arial, sans-serif;
  height: 100%;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  body.overlay-is-visible,
  html.overlay-is-visible {
    overflow: hidden; }
  @media only screen and (max-width: 640px) {
    body,
    html {
      font-size: 16px; } }

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  -moz-transition: border-color 0.3s ease-out;
  -ms-transition: border-color 0.3s ease-out;
  -o-transition: border-color 0.3s ease-out;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out; }

h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  margin: .5em 0; }

h2, h3 {
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25em;
  margin: .5em 0;
  padding-bottom: 8px;
  position: relative; }
  h2:after, h3:after {
    border-bottom: 3px solid #FF3D00;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: 25px; }

h3 {
  font-size: 1.25rem;
  font-weight: 600; }

[ng-view] {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column; }

/* =============================================================================
  Nav
============================================================================= */
.nav-offset {
  height: 100%;
  max-width: 200px;
  min-width: 200px; }
  @media only screen and (max-width: 768px) {
    .nav-offset {
      height: 50px;
      max-height: 50px;
      max-width: none;
      width: 100%; } }

.nav {
  background: rgba(255, 255, 255, 0.87);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column; }
  @media only screen and (max-width: 768px) {
    .nav {
      height: 50px;
      overflow: visible;
      padding: 0;
      width: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row;
      -ms-flex-flow: row;
      -moz-flex-flow: row;
      -o-flex-flow: row;
      flex-flow: row; } }

.nav__title {
  border-bottom: 1px solid #E0E0E0;
  margin: 0;
  padding: 0;
  position: relative; }
  .nav__title a {
    border-bottom: none;
    display: inline-block;
    padding: .5em 25px; }
  @media only screen and (max-width: 768px) {
    .nav__title {
      border: none;
      font-size: 1.5em; } }

.nav-overlay {
  background: rgba(235, 235, 235, 0.8);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;
  z-index: 1000;
  -moz-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
  -ms-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
  -o-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
  -webkit-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
  transition: visibility 0.25s ease-out, opacity 0.25s ease-out; }

.nav-overlay--visible {
  opacity: 1;
  visibility: visible;
  -moz-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -ms-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out; }

@media only screen and (max-width: 768px) {
  .nav__menu {
    background: #FFF;
    height: 100%;
    max-width: 500px;
    opacity: 0;
    overflow-x: none;
    overflow-y: auto;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    width: 75%;
    -moz-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    -ms-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    -o-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    -webkit-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    transition: visibility 0.25s ease-out, opacity 0.25s ease-out; } }

.nav__menu--revealed {
  opacity: 1;
  pointer-events: initial;
  visibility: visible;
  -moz-box-shadow: -1px 0 10px #BFBFBF;
  -ms-box-shadow: -1px 0 10px #BFBFBF;
  -webkit-box-shadow: -1px 0 10px #BFBFBF;
  box-shadow: -1px 0 10px #BFBFBF;
  -moz-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -ms-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out; }

.nav__menu-button, .nav__close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 50px;
  padding: 0 25px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }
  @media only screen and (max-width: 768px) {
    .nav__menu-button, .nav__close-button {
      display: block; } }

.nav__menu-icon, .nav__close-icon {
  fill: #3E2723; }
  .nav__menu-icon svg, .nav__close-icon svg {
    vertical-align: middle; }

.nav__close {
  display: none; }
  @media only screen and (max-width: 768px) {
    .nav__close {
      border-bottom: 1px solid #E0E0E0;
      display: block;
      height: 50px;
      position: relative; } }

.nav__item {
  border-bottom: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  display: block;
  font-size: 14px;
  line-height: 50px;
  padding: 0 25px;
  width: 100%;
  -moz-transition: border 0.3s ease-out;
  -ms-transition: border 0.3s ease-out;
  -o-transition: border 0.3s ease-out;
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out; }
  @media only screen and (max-width: 768px) {
    .nav__item {
      font-size: 1.5rem;
      line-height: 75px; } }

.nav__item--active {
  background: #E0E0E0;
  border-left-color: transparent;
  border-right-color: #FF3D00;
  color: #FF3D00;
  pointer-events: none; }
  @media only screen and (max-width: 768px) {
    .nav__item--active {
      background: #E0E0E0;
      border-left-color: #FF3D00;
      border-right-color: transparent;
      padding-left: 25px; } }

/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  background: #3E2723;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1; }

.intro__content {
  margin: 0 auto;
  max-width: 850px;
  padding: 50px 25px;
  width: 100%; }
  @media only screen and (max-height: 640px) {
    .intro__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
      -moz-flex-flow: column-reverse;
      -o-flex-flow: column-reverse;
      flex-flow: column-reverse; } }

.intro__blurb {
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 0; }
  .intro__blurb span {
    white-space: nowrap; }
  .intro__blurb a {
    border-bottom: 3px solid #FF3D00;
    padding-bottom: 2px; }
  @media only screen and (max-height: 640px) {
    .intro__blurb {
      margin-bottom: 0;
      margin-top: 1em; } }

.intro__nav {
  margin: 0;
  padding: 0; }

.intro__nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  min-height: 0;
  position: relative; }
  .intro__nav-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.87); }
  .intro__nav-item:before {
    display: none; }

.intro__link {
  border-bottom: none;
  color: #FF3D00;
  display: block;
  line-height: 50px;
  padding-left: 12.5px;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* =============================================================================
  Work tpl
============================================================================= */
.work {
  background-image: url(/imgs/bg-pattern-grey-100.jpg);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  flex: 1; }
  @media only screen and (max-width: 768px) {
    .work {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      -moz-flex-flow: column;
      -o-flex-flow: column;
      flex-flow: column; } }

.work__content {
  margin: 0 auto;
  max-width: 850px;
  padding: 25px 25px 50px;
  -webkit-box-flex: 1;
  flex: 1; }

/* =============================================================================
  Work tpl
============================================================================= */
.resume {
  background-image: url(/imgs/bg-pattern-grey-100.jpg);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  flex: 1; }
  @media only screen and (max-width: 768px) {
    .resume {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      -moz-flex-flow: column;
      -o-flex-flow: column;
      flex-flow: column; } }

.resume__content {
  margin: 0 auto;
  max-width: 850px;
  padding: 25px 25px 50px;
  -webkit-box-flex: 1;
  flex: 1; }

/* =============================================================================
  Hover states for no-touch devices
============================================================================= */
.no-touch a:hover {
  border-color: #FF3D00; }
.no-touch .intro__blurb a:hover {
  border-color: rgba(0, 0, 0, 0.87); }
.no-touch .intro__link:hover {
  padding-left: 25px; }
.no-touch .nav__item:hover {
  border-left-color: transparent;
  border-right-color: #FF3D00; }
  @media only screen and (max-width: 768px) {
    .no-touch .nav__item:hover {
      border-left-color: #FF3D00;
      border-right-color: transparent; } }

/*# sourceMappingURL=main.css.map */
