/* =============================================================================
  Global
============================================================================= */
* {
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body,
html {
  background: #F5F5F5;
  color: #3E2723;
  font: 400 17px/2em "Source Sans Pro", Arial, sans-serif;
  height: 100%;
  margin: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }
  body.mobile-nav-is-visible,
  html.mobile-nav-is-visible {
    overflow: hidden; }
  @media only screen and (max-width: 640px) {
    body,
    html {
      font-size: 16px; } }

a {
  border-bottom: 2px solid;
  color: inherit;
  text-decoration: none;
  -moz-transition: border-color 0.3s ease-out;
  -ms-transition: border-color 0.3s ease-out;
  -o-transition: border-color 0.3s ease-out;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out; }

[ng-view] {
  min-height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  flex: 1; }
  @media only screen and (max-width: 768px) {
    [ng-view] {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      -moz-flex-flow: column;
      -o-flex-flow: column;
      flex-flow: column; } }

/* =============================================================================
  Nav
============================================================================= */
@media only screen and (max-width: 768px) {
  .nav {
    background: rgba(235, 235, 235, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1000;
    -moz-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    -ms-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    -o-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    -webkit-transition: visibility 0.25s ease-out, opacity 0.25s ease-out;
    transition: visibility 0.25s ease-out, opacity 0.25s ease-out; } }
.nav--visible {
  opacity: 1;
  visibility: visible;
  -moz-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -ms-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -o-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  -webkit-transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out; }

.nav-offset {
  height: 100%;
  max-width: 200px;
  min-width: 200px; }
  @media only screen and (max-width: 768px) {
    .nav-offset {
      display: none; } }
  @media only screen and (min-width: 1400px) {
    .nav-offset {
      max-width: 300px;
      min-width: 300px; } }

.nav__content {
  background: rgba(255, 255, 255, 0.87);
  height: 100%;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 50px;
  position: fixed;
  top: 0;
  width: 200px;
  z-index: 1000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column; }
  @media only screen and (max-width: 768px) {
    .nav__content {
      background: #FFF;
      position: absolute;
      right: 0;
      width: 100%;
      left: auto;
      max-width: 500px;
      -moz-box-shadow: -1px 0 10px #BFBFBF;
      -ms-box-shadow: -1px 0 10px #BFBFBF;
      -webkit-box-shadow: -1px 0 10px #BFBFBF;
      box-shadow: -1px 0 10px #BFBFBF; } }
  @media only screen and (min-width: 1400px) {
    .nav__content {
      text-align: right;
      width: 300px; } }

.nav__logo {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
  padding: 0;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .nav__logo {
      display: none; } }

.nav__logo-link {
  border-bottom: none;
  display: block;
  padding: 1rem 25px; }

.nav__logo-aria-label {
  position: absolute;
  left: -9999px; }

.nav__logo-mark {
  display: inline-block;
  max-width: 100px;
  vertical-align: middle; }

.nav__menu-header {
  display: none; }
  @media only screen and (max-width: 768px) {
    .nav__menu-header {
      border-bottom: 1px solid #E0E0E0;
      display: block;
      max-height: 50px;
      min-height: 50px;
      position: relative; } }

.nav__close-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 50px;
  padding: 0 25px;
  position: absolute;
  right: 0;
  top: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }
  @media only screen and (max-width: 768px) {
    .nav__close-button {
      display: block; } }

.nav__close-icon {
  fill: #3E2723; }
  .nav__close-icon svg {
    vertical-align: middle; }

.nav__item {
  border-bottom: none;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  display: block;
  font-size: 14px;
  line-height: 50px;
  padding: 0 25px;
  width: 100%;
  -moz-transition: border 0.3s ease-out;
  -ms-transition: border 0.3s ease-out;
  -o-transition: border 0.3s ease-out;
  -webkit-transition: border 0.3s ease-out;
  transition: border 0.3s ease-out; }
  @media only screen and (max-width: 768px) {
    .nav__item {
      font-size: 1.5rem;
      line-height: 75px; } }
  @media only screen and (min-width: 1400px) {
    .nav__item {
      font-size: 1rem; } }

.nav__item--active {
  background: #E0E0E0;
  border-left-color: transparent;
  border-right-color: #FF3D00;
  color: #FF3D00;
  pointer-events: none; }
  @media only screen and (max-width: 768px) {
    .nav__item--active {
      background: #E0E0E0;
      border-left-color: #FF3D00;
      border-right-color: transparent;
      padding-left: 25px; } }

/* =============================================================================
  Mobile Masthead
============================================================================= */
.mobile-masthead {
  display: none;
  z-index: 100; }
  @media only screen and (max-width: 768px) {
    .mobile-masthead {
      display: block; } }

.mobile-masthead-offset {
  height: 50px; }

.mobile-masthead__content {
  background: rgba(255, 255, 255, 0.87);
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  -moz-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center; }

.mobile-masthead__title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1em;
  margin: 0; }

.mobile-masthead__logo-link {
  border-bottom: none;
  display: block;
  padding: 0 25px; }

.mobile-masthead__logo-aria-label {
  position: absolute;
  left: -9999px; }

.mobile-masthead__logo-mark {
  display: inline-block;
  height: 30px;
  vertical-align: middle; }

.mobile-masthead__menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  height: 50px;
  padding: 0 25px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }
  @media only screen and (max-width: 768px) {
    .mobile-masthead__menu-button {
      display: block; } }

.mobile-masthead__menu-icon {
  fill: #3E2723; }
  .mobile-masthead__menu-icon svg {
    vertical-align: middle; }

/* =============================================================================
  Intro tpl
============================================================================= */
.intro {
  background: #3E2723;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1; }

.intro__content {
  margin: 0 auto;
  max-width: 850px;
  padding: 50px 25px;
  width: 100%; }
  @media only screen and (max-height: 640px) {
    .intro__content {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column-reverse;
      -ms-flex-flow: column-reverse;
      -moz-flex-flow: column-reverse;
      -o-flex-flow: column-reverse;
      flex-flow: column-reverse; } }

.intro__blurb {
  color: rgba(255, 255, 255, 0.87);
  line-height: 1.5em;
  margin-bottom: 1em;
  margin-top: 0; }
  .intro__blurb span {
    white-space: nowrap; }
  .intro__blurb a {
    border-bottom: 3px solid #FF3D00;
    padding-bottom: 2px; }
  @media only screen and (max-height: 640px) {
    .intro__blurb {
      margin-bottom: 0;
      margin-top: 1em; } }

.intro__nav {
  margin: 0;
  padding: 0; }

.intro__nav-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.87);
  min-height: 0;
  position: relative; }
  .intro__nav-item:first-child {
    border-top: 1px solid rgba(0, 0, 0, 0.87); }
  .intro__nav-item:before {
    display: none; }

.intro__link {
  border-bottom: none;
  color: #FF3D00;
  display: block;
  line-height: 50px;
  padding-left: 12.5px;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* =============================================================================
  Page
============================================================================= */
.page {
  background-image: url(/imgs/bg-pattern-grey-100.jpg);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  -ms-flex-flow: row;
  -moz-flex-flow: row;
  -o-flex-flow: row;
  flex-flow: row;
  -webkit-box-flex: 1;
  flex: 1; }
  @media only screen and (max-width: 768px) {
    .page {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: column;
      -ms-flex-flow: column;
      -moz-flex-flow: column;
      -o-flex-flow: column;
      flex-flow: column; } }

.page__content {
  padding-bottom: 25px;
  -webkit-box-flex: 1;
  flex: 1; }

.page__header {
  border-bottom: 1px solid #E0E0E0; }

.page__title {
  color: #FF3D00;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.25em;
  margin: 0 auto;
  max-width: 850px;
  padding: 1rem 25px; }

.page__body {
  margin: 0 auto;
  max-width: 850px;
  padding: 0 25px 25px; }

.page__sub-title, .page__paragraph-header {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.25em;
  margin: 1rem 0;
  padding-bottom: 8px;
  position: relative; }
  .page__sub-title:after, .page__paragraph-header:after {
    border-bottom: 3px solid #FF3D00;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    width: 25px; }

.page__paragraph-header {
  font-size: 1em; }
  .page__paragraph-header:after {
    border-bottom-width: 2px; }

/* =============================================================================
  Work tpl
============================================================================= */
.launch {
  border: none;
  margin-left: 4px; }

.launch__icon {
  bottom: 2px;
  fill: #3E2723;
  position: relative;
  -moz-transition: fill 0.3s ease-out;
  -ms-transition: fill 0.3s ease-out;
  -o-transition: fill 0.3s ease-out;
  -webkit-transition: fill 0.3s ease-out;
  transition: fill 0.3s ease-out; }
  .launch__icon svg {
    vertical-align: middle; }

.video-modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.87);
  z-index: 10000;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  -moz-flex-flow: column;
  -o-flex-flow: column;
  flex-flow: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -moz-transition: opacity 0.25s ease-out;
  -ms-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  -webkit-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out; }
  .video-modal.ng-hide-add, .video-modal.ng-hide-remove {
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out; }
  .video-modal.ng-hide {
    opacity: 0; }

.video-modal__wrapper {
  padding-bottom: 48.5%;
  position: relative;
  width: 80%; }

.video-modal__iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

/* =============================================================================
  Video
============================================================================= */
.video__container {
  border-top: 1px solid #E0E0E0;
  padding: 1rem 0; }
  .video__container:first-child {
    border-top: none;
    padding-top: 0; }

.video {
  margin: 1rem 0;
  padding-bottom: 60.75%;
  position: relative; }

.video__play-btn {
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.video__play-icon {
  fill: #FF3D00;
  opacity: .5;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  @media only screen and (max-width: 640px) {
    .video__play-icon svg {
      width: 50px; } }

/* =============================================================================
  Hover states for no-touch devices
============================================================================= */
.no-touch a:hover {
  border-color: #FF3D00; }
.no-touch .intro__blurb a:hover {
  border-color: rgba(0, 0, 0, 0.87); }
.no-touch .intro__link:hover {
  padding-left: 25px; }
.no-touch .nav__item:hover {
  border-left-color: transparent;
  border-right-color: #FF3D00; }
  @media only screen and (max-width: 768px) {
    .no-touch .nav__item:hover {
      border-left-color: #FF3D00;
      border-right-color: transparent; } }
.no-touch .launch:hover .launch__icon {
  fill: #FF3D00; }
.no-touch .video__play-btn:hover .video__play-icon {
  opacity: 1; }

/*# sourceMappingURL=portfolio.css.map */
